@font-face {
    font-weight: 400; /* Соответствует значению normal */
    font-family: next-art;
    src: url('../fonts/regular.otf');
}

@font-face {
    font-weight: 700; /* Соответствует значению bold */
    font-family: next-art;
    src: url('../fonts/bold.otf');
}

@font-face {
    font-weight: 300;
    font-family: next-art;
    src: url('../fonts/light.otf');
}
